
.sony-bar {
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    
}

.sony-logo {
    position: absolute; 
    top: 0;
    left: 90%;
 
}

nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: bold 16px;
    font-family: 'Montserrat', sans-serif;
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 80px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.playstation-logo {
    height: 34px;
    width: 34px;
    position: relative;
    top: 30px;
    left: 9px;

}

.sign-in-button {
    color: white;
    background-color: #0070cc;
    border-radius: 40%;
    height: 25px;
    width: 75px;
    position: relative;
    left: 85%;
    text-align: center;
    bottom: 0;
}

 .magnifying-glass {
    position: absolute;
    top: 45px;
    left: 95%;
    overflow: hidden;
    width: 30px;

}

.search-bar {
    position: absolute;
    left: 90%;
    top: 50px;
    border: none;

}

.main-banner {

    width: 1900px;
    height: 980px;
    object-fit: fill;
    left:0;
    position: absolute;
    top: 0px;
    z-index: -2;
}

.banner-top {
    background-color: lightgrey;
    height: 170px;
    position: absolute;
    left:0;
    right: 0;
    background-image: linear-gradient(to bottom, rgb(200, 196, 196), white);

}

.banner-bottom {
    background-color:white;
    height: 700px;
    position: absolute;
    z-index: 3;
    top: 700px;
    left:0;
    right: 0;
}

.header-back {
    background-color: white;
    height: 100px;
    position: absolute;
    z-index: -1;
    top: 36px;
    left:0;
    right: 0;
}

.nav-2 {
    background-color: white;
    height: 70px;
    position: absolute;
    top: 70px;
    left:0;
    right: 0;
}

.spring-sale {
    height: 350px;
    width: 280x;
    position: relative;
    top: 200px;
    left: 520px;
}









