body {
    max-width: 100%;
    overflow-x: hidden;
}

.sony-bar {
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    background-color: black;
    
}

.sony-logo {
    position: relative; 
    bottom: 40px;
    left: 93%;
    z-index: -1;

}

nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: bold 16px;
    font-family: 'Montserrat', sans-serif;
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 80px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.playstation-logo {
    height: 34px;
    width: 34px;
    position: absolute;
    top: 36px;
    left: 20px;

}

.sign-in-button {
    color: white;
    background-color: #0070cc;
    border-radius: 40%;
    height: 25px;
    width: 75px;
    position: relative;
    left: 85%;
    text-align: center;
    bottom: 0;
}

 .magnifying-glass {
    position: absolute;
    top: 43px;
    left: 94%;
    overflow: hidden;
    width: 30px;

}

.search-bar {
    position: absolute;
    left: 90%;
    top: 50px;
    border: none;

}

.nav-2-text a  {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

   .nav-2-text a:hover  {
    background-color: lightgrey;
    border-radius: 15%;
  
}


.nav-2-text li {
    list-style: none;
   
}


.nav-2-text {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    left: 430px;
    top: 17px;
}

.main-banner {

    width: 1550px;
    height: 800px;
    object-fit: fill;
    left: 0px;
    right: px;
    position: absolute;
    top: 30px;
    z-index: -3;
}

.banner-top {
    background-color: lightgrey;
    height: 100px;
    position: absolute;
    left:0;
    right: 0;
    background-image: linear-gradient(to bottom,  rgb(234, 234, 234), white);

}

.banner-bottom {
    background-color:white;
    height: 700px;
    position: absolute;
    top: 630px;
    left:0;
    right: 0;
}

.header-back {
    background-color: white;
    height: 100px;
    position: absolute;
    z-index: -1;
    top: 36px;
    left:0;
    right: 0;
}

.nav-2 {
    background-color: white;
    height: 70px;
    position: absolute;
    top: 70px;
    left:0;
    right: 0;
}

.spring-sale {
    height: 330px;
    width: 200x;
    position: relative;
    top: 120px;
    left: 360px;
}

p {
    color: rgb(68, 67, 67);
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    position: relative;
    top: 200px;
    left: 100px;
}

.under-spring-sale {
    color: rgb(68, 67, 67);
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    position: relative;
    top: 230px;
    left: 100px;
}

.bottom-of-spring-sale {
    background-color: rgb(227, 191, 191);
    height: 100px;
    position: absolute;
    left:0;
    right: 0;
    top: 870px;
    background-image: linear-gradient(to bottom, rgb(234, 234, 234), white);
}







