
.sony-bar {
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    
}

.sony-logo {
    position: absolute; 
    top: 0;
    left: 85%;
 
}

nav ul a {
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.playstation-logo {
    height: 34px;
    width: 34px;
    position: relative;
    top: 30px;
    left: 9px;

}

.sign-in-button {
    color: white;
    background-color: rgb(68, 68, 218);
    border-radius: 30%;
    height: 25px;
    width: 75px;
    position: relative;
    left: 85%;
    text-align: center;
    bottom: 0;
}








